---
import config from "@/config/config.json";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { FaRegFolder, FaRegUserCircle, FaTags } from "react-icons/fa/index.js";


const {
  summary_length,
  project_folder,
}: { summary_length: number; project_folder: string } = config.settings;
const { data } = Astro.props;
const { title, image, tags } = data.data;
---

<div class="bg-body dark:bg-darkmode-body project-card ">
  {
    image && (
      <a href={`/${project_folder}/${data.slug}`}>
      <Image
        class="mb-8 w-full rounded "
        src={image}
        alt={title}
        width={300}
        height={130}
        format="webp"
      />
      </a>
    )
  }
  <h4 class="mb-3">
    <a href={`/${project_folder}/${data.slug}`}>
      {title}
    </a>
  </h4>
  <ul class="mb-24">
  
    <li class="inline-block">
      <FaTags className={" mr-2 -mt-1 inline-block"} />
      {
        tags.map((tag: string, index: number) => (
          <span key={index}>
            {humanize(tag)}
            {index !== tags.length - 1 && ","}
          </span>
        ))
      }
    </li>
  </ul>

</div>
