---
import ProjectCard from "@/components/ProjectCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/partials/PageHeader.astro";
import PostSidebar from "@/partials/PostSidebar.astro";
import { getEntry } from "astro:content";

const { project_folder } = config.settings;
const postIndex = await getEntry<any, string>(project_folder, "-index");
const posts = await getSinglePage(project_folder);
const allCategories = await getAllTaxonomy(project_folder, "categories");
const categories = await getTaxonomy(project_folder, "categories");
const tags = await getTaxonomy(project_folder, "tags");
const sortedPosts = sortByDate(posts);
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <PageHeader title={postIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="lg:flex lg:flex-wrap justify-center">
        {/* project posts */}
        <div class="lg:w-1/2 lg:p-8">
          {currentPosts
            .filter((_, index) => index % 2 === 0)
            .map((post, index) => (
              <ProjectCard data={post} key={index} />
            ))}
        </div>
        <div class="lg:w-1/2 lg:p-8">
          {currentPosts
            .filter((_, index) => index % 2 !== 0)
            .map((post, index) => (
              <ProjectCard data={post} key={index} />
            ))}
        </div>
      </div>
    </div>
  </section>
</Base>





